:root {
    --primary: #dad0cc;
    --secondary: #d11e1e;
    --tertiary: #312f2f;
    --border-radius: .3rem;
  }
* {
    box-sizing: border-box;
  }
  
header {
    font-weight: bolder;
  }

body {
    background-color: var(--primary);
    font-family: sans-serif;
    color: black;
}
  
span {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color:#312f2f;
}
main {
    border-radius: 15px;
    background: var(--primary) ;
   
   }

button {
    border-radius: 15px;
    padding:5px;
    margin-bottom: 3%;
    background-color: #ebe2e2;
}
button :hover{
 background-color: var(--secondary);
}
.card {
  border-radius: 7px;
 }
#zipcode-input {
  margin-bottom: 5px;
  padding: 1px;
}
.m {
  color: #d10202;
  font-size: 5rem;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
    font-family: 'Trebuchet MS', sans-serif;
    font-style: italic;
}