:root {
    --primary: #dad0cc;
    --secondary: #d11e1e;
    --tertiary: #312f2f;
    --border-radius: .3rem;
  }
* {
    box-sizing: border-box;
  }
  
header {
    font-weight: bolder;
  }

  body {
    background-color: var(--primary);
    font-family: sans-serif;
    color: black;
}
  
span {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color:#312f2f;
}
.container {
    border-radius: 15px;
   
   }

button {
    border-radius: 10px;
    padding:5px;
    margin-bottom: 3%;
    background-color: #ebe2e2;
}
.card {
  border-radius: 7px;
 }
#zipcode-input {
  margin-bottom: 5px;
  padding: 1px;
}